<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
     
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        {% block head %}
        {% endblock %}
        
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <h4 style="padding:10px; color:white; float:left">Admin Dashboard</h4>
            <a href="#contact">Log out</a>
            <a href="#profile">Profile</a>
            <a href="#home" class="active">Home</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div id="wrapper">
        <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <menu class="nav nav-sidebar">
                    <li>
                        <a href="dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a href="accounts">Accounts</a>
                    </li>
                    <li>
                        <a href="currencies">Currencies</a>
                    </li>
                </menu>
            </div>
            <!-- /#sidebar-wrapper -->
        </div> <!-- /#wrapper -->

        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>
        {% block body %}
        {% endblock %}
    </body>
</html>
